<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("../partials/dashboardHeaders.ejs") %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include("../partials/dashboardSidebar.ejs") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include("../partials/dashboardTopbar.ejs") %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Cotizaciones</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
            information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
              DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <button id="butAgregar" class="collapsible m-0 font-weight-bold text-primary" add="true">Agregar</button>
              <button id="butEliminar" class="collapsible m-0 font-weight-bold text-primary"
                add="true">Eliminar</button>

              <div class="row m-1">

              </div>
              <form action="/dashboard/tables/agregarCot" method="GET">
                <div id="content-input-agregar" class="content ml-3" style="display: none;">
                  <div class="form-group row mb-2">
                    <label for="iCotizacion">Cotizacion:</label>
                    <input class="ml-2" type="number" value="1000000" name="iCotizacion" id="iCotizacion">
                    <div class="text-warning col-4 ml-2" role="alert">
                      Valor en millones de pesos*
                    </div>
                  </div>
                  <div class="form-group row mt-2">
                    <label for="iMesAnio">Mes-Año:</label>
                    <input class="ml-3" id="iMesAnio" name="iMesAnio" type="month" value="2020-01" min="1954-01"
                      max="2020-01">
                  </div>
                  <button type="submit" id="butEnviar"
                    class="form-group m-0 font-weight-bold text-primary">Enviar</button>
                </div>
              </form>
              <div id="content-input-eliminar" style="display: none;">
                <div class="row mb-2">
                  <label for="iSemanaCotizada">Seleccione la semana cotizada:</label>
                  <input class="ml-2 col-2" type="number" value="1" name="iSemanaCotizada" id="iSemanaCotizada">
                  <button id="butQuitar" class="m-0 font-weight-bold text-primary">Quitar</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Cotización</th>
                      <th>Año</th>
                      <th>Mes</th>
                      <th>IPC</th>
                      <th>Semana Cotizada</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Cotización</th>
                      <th>Año</th>
                      <th>Mes</th>
                      <th>IPC</th>
                      <th>Semana Cotizada</th>
                    </tr>
                  </tfoot>
                  <tbody id="table-content">
                    <% cotizaciones.forEach( (fila) => { %>
                    <tr>
                      <td> <%= fila.anio %></td>
                      <td> <%= fila.mes %></td>
                      <td> <%= fila.indice%></td>
                      <td> <%= fila.inflacion_anual %></td>
                      <td> <%= fila.inflacion_mensual %></td>
                      <td> <%= fila.inflacion_anio_corrido %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/scriptsBootstrap.ejs") %>

  <script src="/scripts/addingInput.js"></script>
</body>

</html>